﻿@{
    ViewBag.Title = "Spiel steuern";
}

<div id="control">
    <div id="control_buttons">
        <input type="button" value="SBULL" /><input type="button" value="BULL" /><br />
        <input type="button" value="S20" /><input type="button" value="D20" /><input type="button" value="T20" /><br />
        <input type="button" value="S19" /><input type="button" value="D19" /><input type="button" value="T19" /><br />
        <input type="button" value="S18" /><input type="button" value="D18" /><input type="button" value="T18" /><br />
        <input type="button" value="S17" /><input type="button" value="D17" /><input type="button" value="T17" /><br />
        <input type="button" value="S16" /><input type="button" value="D16" /><input type="button" value="T16" /><br />
        <input type="button" value="S15" /><input type="button" value="D15" /><input type="button" value="T15" /><br />
        <input type="button" value="S14" /><input type="button" value="D14" /><input type="button" value="T14" /><br />
        <input type="button" value="S13" /><input type="button" value="D13" /><input type="button" value="T13" /><br />
        <input type="button" value="S12" /><input type="button" value="D12" /><input type="button" value="T12" /><br />
        <input type="button" value="S11" /><input type="button" value="D11" /><input type="button" value="T11" /><br />
        <input type="button" value="S10" /><input type="button" value="D10" /><input type="button" value="T10" /><br />
        <input type="button" value="S9" /><input type="button" value="D9" /><input type="button" value="T9" /><br />
        <input type="button" value="S8" /><input type="button" value="D8" /><input type="button" value="T8" /><br />
        <input type="button" value="S7" /><input type="button" value="D7" /><input type="button" value="T7" /><br />
        <input type="button" value="S6" /><input type="button" value="D6" /><input type="button" value="T6" /><br />
        <input type="button" value="S5" /><input type="button" value="D5" /><input type="button" value="T5" /><br />
        <input type="button" value="S4" /><input type="button" value="D4" /><input type="button" value="T4" /><br />
        <input type="button" value="S3" /><input type="button" value="D3" /><input type="button" value="T3" /><br />
        <input type="button" value="S2" /><input type="button" value="D2" /><input type="button" value="T2" /><br />
        <input type="button" value="S1" /><input type="button" value="D1" /><input type="button" value="T1" /><br />
        <input type="button" value="NOT_HIT" /><br />
    </div>

    <div id="overview">
        <input type="text" id="1" class="chosen" readonly="readonly" />
        <input type="text" id="2" readonly="readonly" />
        <input type="text" id="3" readonly="readonly" />
        <br />
        <input type="button" id="confirm" value=" BESTÄTIGEN " /><br />
        <input type="button" id="reset" value=" RESET " /><br />
        <input type="button" id="undo" value=" RÜCKGÄNGIG " /><br />
        <input type="button" id="redo" value=" WIEDERHOLEN " />
    </div>

    <table id="match_info">
        <tr id="points">
            <td class="pl1"></td>
            <td class="dec left">.</td>
            <td class="pl2"></td>
        </tr>
        <tr id="names">
            <td class="pl1"></td>
            <td class="dec"></td>
            <td class="pl2"></td>
        </tr>
        <tr id="sets">
            <td class="pl1"></td>
            <td class="dec">Sets</td>
            <td class="pl2"></td>
        </tr>
        <tr id="legs">
            <td class="pl1"></td>
            <td class="dec">Legs</td>
            <td class="pl2"></td>
        </tr>
    </table>
</div>

@Scripts.Render("~/bundles/control")

<script>
    setRequestURL("@Url.Action("Match", "API", new { id = @ViewBag.MatchID })");
    setPostURL("@Url.Action("Score", "API", new { id = @ViewBag.MatchID })");
    setUndoURL("@Url.Action("Undo", "API", new { id = @ViewBag.MatchID })");
    setRedoURL("@Url.Action("Redo", "API", new { id = @ViewBag.MatchID })");
    setSaveURL("@Url.Action("SaveToFile", "API")");
</script>
