﻿@model System.Web.Mvc.SelectList
@{
    ViewBag.Title = "Spiel auswählen";
}

<div class="gamechooser">
    <h4>Partie wählen</h4>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div>
            @Html.DropDownList("matchID", Model, new { size = 5, required = "required" })
        </div>

        <div>
            @Html.RadioButton("gameAction", "scorer", true, new { id = "gameAction_scorer" })
            @Html.Label("gameAction_scorer", "Spielstand anzeigen")
        </div>

        <div>
            @Html.RadioButton("gameAction", "control", false, new { id = "gameAction_control" })
            @Html.Label("gameAction_control", "Spiel steuern")
        </div>

        <div>
            <input type="submit" value="Bestätigen" />
        </div>

        <div>
            @Html.ActionLink("Neues Spiel erstellen", "NewMatch", "Home")
        </div>

        <div>
            @Html.ActionLink("Neuen Spieler erstellen", "NewPlayer", "Home")
        </div>
    }
</div>