﻿@model System.Web.Mvc.SelectList
@{
    ViewBag.Title = "Neues Spiel";
}

<div class="gamecreator">
    @using (Html.BeginForm("NewMatch", "Home", FormMethod.Post))
    {
        @Html.Label("player1", "Name Spieler 1")
        @Html.DropDownList("player1", Model, new { required = "required" })

        @Html.Label("player2", "Name Spieler 2")
        @Html.DropDownList("player2", Model, new { required = "required" })

        @Html.Label("startPoints", "Start-Punktzahl")
        @Html.TextBox("startPoints", 501, new { type = "number", required = "required" })

        @Html.Label("sets", "Sets (Best of)")
        @Html.TextBox("sets", 1, new { type = "number", required = "required" })

        @Html.Label("legs", "Legs (Best of)")
        @Html.TextBox("legs", 4, new { type = "number", required = "required" })

        <input type="submit" value="Erstellen" />
    }
</div>
