﻿@{
    ViewBag.Title = "Neuer Spieler";
}

<div class="gamecreator">
    @using (Html.BeginForm("NewPlayer", "Home", FormMethod.Post))
    {
        @Html.Label("name", "Name des Spielers")
        @Html.TextBox("name", "", new { required = "required" })

        <input type="submit" value="Erstellen" />
    }
</div>
