﻿@{
    ViewBag.Title = "Scorer";
}

<div id="section">
    <div id="leg_1">
        <table id="tab1"></table>
    </div>
    <div id="scoreboard">
        <div id="match_1">
            <div class="pkte">&nbsp;</div>
            <div class="name">&nbsp;</div>
            <div class="sets">0</div>
            <div class="legs">0</div>
            <hr />
            <div class="avg">0,00</div>
            <div class="his">0</div>
            <div class="hif">0</div>
            <div class="a60">0</div>
            <div class="a100">0</div>
            <div class="a140">0</div>
        </div>
        <div id="descr">
            <div class="pkte">.</div>
            <div class="name">&nbsp;</div>
            <div class="sets">Sets</div>
            <div class="legs">Legs</div>
            <hr />
            <div class="avg">Average</div>
            <div class="his">High Score</div>
            <div class="hif">High Finish</div>
            <div class="a60">60+</div>
            <div class="a100">100+</div>
            <div class="a140">140+</div>
        </div>
        <div id="match_2">
            <div class="pkte">&nbsp;</div>
            <div class="name">&nbsp;</div>
            <div class="sets">0</div>
            <div class="legs">0</div>
            <hr />
            <div class="avg">0,00</div>
            <div class="his">0</div>
            <div class="hif">0</div>
            <div class="a60">0</div>
            <div class="a100">0</div>
            <div class="a140">0</div>
        </div>
    </div>
    <div id="leg_2">
        <table id="tab2"></table>
    </div>
</div>

<div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
</div>

<div id="div180">180</div>

@Scripts.Render("~/bundles/scorer")

<script>
    setRequestURL("@Url.Action("Match", "API", new { id = @ViewBag.MatchID })");
</script>
