﻿/* --------------------------------
              General
----------------------------------*/

$backgroundColor: #111111;
$fontColor: #EEEEEE;
$blurredFontColor: #555555;

html {
    background-color: $backgroundColor;
    overflow: hidden;
}

body {
    background-color: $backgroundColor;
    color: $fontColor;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 2em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 7px;
    text-align: left;
}

p {
    font-size: 1em;
    text-align: justify;
    line-height: 1.1;
}

a, a:visited {
    color: $fontColor;
    text-decoration: underline;
    cursor: pointer;
}

input, select {
    color: $backgroundColor;
}

.clear {
    float: none;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* --------------------------------
              Section
----------------------------------*/

#inputs {
    margin-top: 10px;
    margin-left: 10px;
}

#inputs input {
    margin-bottom: 5px;
}

.gamechooser, .gamecreator {
    margin: 0.5em;

    form {
        display: flex;
        flex-direction: column;
        max-width: 300px;

        label {
            margin-bottom: 0.1em;
        }
    }
}

.gamechooser form div {
    margin-bottom: 0.5em;

    select, input[type=submit] {
        width: 100%;
    }
}

.gamecreator {
    input, select {
        margin-bottom: 0.75em;
    }
}

#section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.pyro {
    display: none;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
}

#div180 {
    display: none;
    font-size: 45em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#leg_1, #leg_2 {
    width: 11.25em;
    overflow-y: hidden;

    table {
        margin: 0 auto;
        border-collapse: collapse;

        td, th {
            text-align: right;
            font-size: 2.25em;
            font-weight: normal;
        }

        td {
            padding-left: 0.25em;
        }

        th {
            padding-right: 0.25em;
            border-right: 1.5px solid #eee;
        }

        th, tr:not(:last-child) td {
            color: $blurredFontColor;
        }
    }
}

#scoreboard {
    display: flex;
}

#match_1, #match_2, #descr {
    text-align: center;

    div:not(:first-child) {
        margin-top: 10px;
    }
}

#match_1, #match_2 {
    width: 21.875em;
}

#descr {
    width: 12.5em;
}

.pkte {
    font-size: 10em;
}

.name {
    font-size: 1.75em;
    margin-top: -10px;
    margin-bottom: 25px;
}

.sets, .legs {
    font-size: 2.5em;
}

.avg, .his, .hif, .a60, .a100, .a140 {
    font-size: 2.25em;
}

.legs {
    margin-bottom: 15px;
}

#steuer input {
    text-align: center;
}

#steuer p {
    margin-top: 3px;
    font-size: 0.75em;
    text-align: center;
}

#control {
    display: flex;
    padding: 10px;

    #control_buttons {
        input {
            height: 1.5em;
            width: 6em;
            margin: 3px;
            font-size: 1em;
        }
    }

    #overview {
        input[type="text"] {
            height: 1.75em;
            width: 4em;
            border-radius: 25px;
            margin: 3px;
            text-align: center;
            font-size: 1em;
            box-shadow: 0 0 12px #AAAAAA;
        }

        input[type="text"].chosen {
            box-shadow: 0 0 12px 3px #439AB2;
        }

        input[type="button"] {
            margin: 10px 10px 0 10px;
            height: 1.5em;
            width: 180px;
            font-size: 1em;
        }

        input[disabled] {
            cursor: not-allowed;
        }
    }

    #match_info {
        text-align: center;

        #points {
            font-size: 1.5em;
        }

        #names {
            font-size: 0.75em;
        }

        .pl1, .pl2 {
            min-width: 2.5em;
        }

        .dec {
            width: 2em;
        }
    }
}

/* --------------------------------
               Media
----------------------------------*/

@media (max-width: 1600px), (max-height: 1000px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 1440px), (max-height: 915px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 1280px), (max-height: 825px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 1205px), (max-height: 785px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 1125px), (max-height: 745px) {
    body {
        font-size: 13px;
    }
}
